# dependencies installed by npm
/node_modules
# package-lock.json

# build artifacts
.cache
.netlify
.vscode
/dist
/build

# secrets and errors
.env
.sass-cache
.log
*.code-workspace

# macOS related files
.DS_Store
.AppleDouble
.LSOverride
